
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", cursive;;
    line-height: 1.6;
    background-image: url("static/background1.png");
    z-index: -1;
    height: 1000px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:500,600");


#navbar{
    height: 10%;
    width: 100%;
}
  
.heading{
    /* position: absolute; */
    width: 80%;
    height: 20%;
    left: 10%;
    top: 13%;
    font-style: normal;
    font-weight: bold;
    font-size: 300%;
    text-align: center;
    letter-spacing: 0.07em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: darken;
}

.short-info{
    /* position: absolute; */
    width: 40%;
    height: 10%;
    left: 5%;
    top: 30%;
    font-style: normal;
    font-weight: bold;
    font-size: 100%;
    line-height: 40px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #363636;
}

.long-info{
    width: 60%;
    height: 20%;
    padding-left: 4%;
    top: 33%;
    font-style: normal;
    font-weight: 600;
    font-size: 450%;
    line-height: 99px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.image-home{
    /* position: absolute; */
    width: 623.5px;
    height: 132.19px;
    left: 70px;
    top: 530px;
    }
.paints{
    width: 553px;
    height: 504px;
    /* left: 900px; */
    margin-top: 20%;
}

.explore{
/* position: absolute; */
left: 200px;
top: 720px;

}

.mainBody{
    overflow: hidden;
    margin-top: 0;
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0%;

}

